body {
  margin: 0;
  padding: 0;
}

#top-banner {
  text-align: center;
  margin: 0px;
  padding: 0px;
  > img {
    width: 200px;
  }
  > h5 {
    background-color: lightyellow;
    padding: 5px;
    border-top: 1px solid orange;
    color: rgb(3, 62, 3);
    margin-bottom: 50px;
  }
}

#main-content {
  
  margin: 0 200px;
}

#section-one {
  text-align: center;
  > img {
    border-radius: 15px;
    /* change first 5px value to 0 to remove shadow on right, or second one to remove bottom shadow */
    box-shadow: 5px 5px 5px grey;
    max-width: 100%;
    max-height: 100%;
  }
}

#image-text {
  color: gray;
}

#feature-link {
  padding: 20px 0px 20px 0px;
}

#feature-link-link, #feature-link-heading {
  border-left: 1px solid orange;
  margin: 0px;
}

#feature-link-heading {
  padding: 0px 0px 0px 20px;
  color: rgb(191, 107, 4);
  font-weight: normal;
  
}

#feature-link-link {
  padding: 0px 0px 0px 20px;
  color: teal ;
}

#feature-link-link :visited {
  color: teal;
}

#section-two-headings {
 border-bottom: 1px solid turquoise;
 padding-bottom: 20px;
 font-weight: normal;
 margin: 30px 0px 30px 0px;
}

.unordered-list {
   >li {
    margin: 20px 0px;
   }
  }

#ordered-list {
font-weight: bold;
}

#final-link {
  color: teal;
}
